body {
    background-image: url(/images/watermountain.avif);
    background-size: cover;
    
}

h1 {
    color: blue;
}



#div1 {
    line-height: 30px;
    font-style: italic;
    font-weight: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul {
    color: rgb(16, 55, 170);
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    list-style: none;
}
footer {
    clear: both;
    text-align: end;
}